@function vw($value, $base: 1600) {
	@return $value / $base * 100vw;
}

@function vh($value, $base: 800) {
	@return $value / $base * 100vh;
}

@function vmin($value, $base: 375) {
	@return $value / $base * 100vmin;
}

.list-item {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: vw(25);
  }
  label {
    display: flex;
    align-items: center;
    background-color: #ff6d00;
    border-radius: vw(30);
    padding: vw(15) vw(30);
    height: vw(50);
    width: vw(420);
    color: #fff27d;
    cursor: pointer;
    input {
      margin-right: vw(10);
      border-radius: 50%;
    }
    h3 {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      font-size: vw(16);
    }
  }

  .delete-item {
    display: flex;
    border-radius: 50%;
    padding: vw(13);
    background-color: #fff27d;
    cursor: pointer;
    -webkit-animation: opacity 0.6s;
    animation: opacity 0.6s;
  }

  @-webkit-keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .checked {
    text-decoration: line-through;
  }
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: vw(-1);
  opacity: 0;
  visibility: none;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  line-height: vw(20);
  cursor: pointer;
  padding: vw(10);
  width: 0;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: vw(-20);
  top: 50%;
  transform: translateY(-50%);
  width: vw(25);
  height: vw(25);
  border-radius: 50%;
  background-color: #fff27d;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 50%;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: vw(-14);
  top: 40%;
  transform: translateY(-50%);
  width: vw(10);
  height: vw(5);
  border-radius: vw(1);
  border-left: vw(4) solid #ff6d00;
  border-bottom: vw(4) solid #ff6d00;
  transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.list-child {
  margin-left: vw(30);
  margin-bottom: vw(25);
  &__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: vw(10);
  }
  &__title {
    display: flex;
    align-items: center;
  }
  label {
    background-color: #fff27d;
    border-radius: vw(30);
    padding: vw(15) vw(30);
    height: vw(50);
    width: vw(420);
    color: #ff6d00;
    width: 81%;
  }

  input[type="checkbox"]:checked + label:before,
  input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: vw(-20);
    top: 50%;
    transform: translateY(-50%);
    width: vw(25);
    height: vw(25);
    border-radius: 50%;
    background-color: #ff6d00;
  }
  input[type="checkbox"]:checked + label:after,
  input[type="checkbox"]:not(:checked) + label:after {
    left: vw(-14);
    top: 40%;
    transform: translateY(-50%);
    width: vw(10);
    height: vw(5);
    border-radius: vw(1);
    border-left: vw(4) solid #fff27d;
    border-bottom: vw(4) solid #fff27d;
    transform: rotate(-45deg);
  }
}

.btn-add {
  font-size: vw(16);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: vw(21);
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  border: vw(2) solid #ff6d00;
  border-radius: vw(30);
  color: #ff6d00;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  i {
    margin-right: vw(10);
  }
}
.btn-add:hover {
  background-color: #ff6d00;
  color: #fff27d;
}
