@function vw($value, $base: 1600) {
	@return $value / $base * 100vw;
}

@function vh($value, $base: 800) {
	@return $value / $base * 100vh;
}

@function vmin($value, $base: 375) {
	@return $value / $base * 100vmin;
}

.modal {
  background-color: #fff9c4;
  padding: vw(35) vw(40);
  border-radius: vw(30);
  min-width: vw(590);
  min-height: vw(590);

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: vw(450);
    background-color: #323759;
    padding: vw(20);

    transition: all 3s ease;
    text-align: center;
    h3 {
      width: 40%;
      color: #ffffff;
      white-space: nowrap;
      margin-right: 5%;
      font-size: vw(15);
      text-align: right;
    }
    label {
      display: flex;
      align-items: center;
      margin-top: vw(25);
    }
    input,
    select {
      width: 50%;
      padding: 0;
      border-radius: vw(2);
      border: none;
      outline: none;
      background-color: #453a5d;
      color: #f1557e;
    }
    select {
      height: vw(30);
    }
    input {
      height: vw(35);
      padding: vw(5) vw(10);
    }
    button {
      background-color: #f1557e;
      border: none;
      color: #ffffff;
      padding: vw(8) vw(20) vw(8) vw(10);
      margin-left: vw(60);
      cursor: pointer;
      i {
        margin-right: 10px;
      }
    }
  }
}

.react-modal {
  position: static !important;
}
.react-modal-overlay {
  display: none;
}
#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
  &.one {
    transform: scaleY(0.01) scaleX(0);
    -webkit-animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    .modal-background {
      .modal {
        transform: scale(0);
        -webkit-animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
    }
    &.out {
      transform: scale(1);
      -webkit-animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      .modal-background {
        .modal {
          -webkit-animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }
      }
    }
  }
}
* {
  box-sizing: border-box;
}

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
  &.one {
    .modal-background {
      .modal {
        transform: scale(0);
        -webkit-animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
    }
    &.out {
      .modal-background {
        .modal {
          -webkit-animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
        }
      }
    }
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
  }

  .modal-background {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    .modal {
      display: inline-block;
      font-weight: 300;
      position: relative;
    }
  }
}

.content {
  min-height: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 0;
  h1 {
    padding: vw(75) 0 vw(30) 0;
    text-align: center;
    font-size: vw(30);
    line-height: vw(30);
  }
  .buttons {
    max-width: vw(800);
    margin: 0 auto;
    padding: 0;
    text-align: center;
    .button {
      display: inline-block;
      text-align: center;
      padding: vw(10) vw(15);
      margin: vw(10);
      background: red;
      font-size: vw(18);
      background-color: #efefef;
      border-radius: vw(3);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      &:hover {
        color: white;
        background: #009bd5;
      }
    }
  }
}

@-webkit-keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@-webkit-keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
